[submodule "sha3"]
	path = sha3
	url = https://github.com/ucb-bar/sha3.git
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
[submodule "lowrisc-rocket"]
	path = lowrisc-rocket
	url = https://github.com/lowRISC/rocket-chip.git
